@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 5px;
  height: 10px;
}

@font-face {
  font-family: "avenir";
  src: url(font/AvenirLTStd-Black.otf);
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "avenir2";
  src: url(font/AvenirLTStd-Roman.otf);
  font-style: normal;
  font-weight: 500;
}

#heading {
  font-family: "avenir";
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 50;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: #05e20e;
}

::selection {
  color: black;
  background: #05e20e;
}

.atropos-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

@media only screen and (min-width: 350px) {
  #endpoint {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    max-width: 80%;
  }
}
@media only screen and (min-width: 580px) {
  #button-container {
    justify-content: end;
  }
}

#cardName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  max-width: 80%;
}

#subCard {
  max-width: 100%;
  overflow-wrap: break-word;
}

@media (min-width: 900px) {
  #grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  #heroSubtitle {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media (min-width: 1280px) {
  #grid2 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  #grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
